doctype html
html(lang="en")
    head
        title To DO App
        link(rel='stylesheet', href='/static/styles/style.css')
        
    body
        div.img
        div.wrapper
            div.flex 
                a.logo(href='/') TO DO APP

            block number-1