doctype html
html(lang="en")
    head
        title Document
        link(rel='stylesheet', href='/static/style.css')

    body 
        header.navbar 
            h1 
                a(href='/') To Do App

            nav.nav
                a(href='/list') Tasks list

        block content