@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrapper{
    max-width: 800px;
    margin: 50px auto;   
}

.logo{
    text-align: center;
    font-size: 4rem;
}

.form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input{
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    width: 80%;
    border: 1px solid #ccc;
    font-family: inherit;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 18%;
    border: none;
    background-color: slateblue;
    color: white;
}

.todos{
    margin-top: 25px;
    border: 1px solid #ccc;
    padding: 10px;
}

.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px dotted #ccc;
}

.todo:last-child{
    border-bottom: none;
}

.todo:hover{
    background-color: #eee;
    border-color: #eee;
}

.error, .success{
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

.error{
    color: red;
    border-color: red;
}

.success{
    color: green;
    border-color: green;
}

.delete1{
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: tomato;
    color: #fff;
}

.done, .undone{
    color: black;
    text-decoration: none;
}

.done{
    text-decoration: line-through;
}