*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrapper{
    max-width: 800px;
    margin: 50px auto;   
}

.logo{
    text-align: center;
    font-size: 4rem;
}

.form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input{
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    width: 80%;
    border: 1px solid #ccc;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 18%;
    border: none;
    background-color: slateblue;
    color: white;
}

.todos{
    margin-top: 25px;
    border: 1px solid #ccc;
    padding: 10px;
}

.todo{
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px dotted #ccc;
}

.todo:hover{
    background-color: #eee;
}